.header {
  padding: .5px;
  text-align: left;
  background: #b2506b;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding-left: 14px;
  
}
.header a{
  text-decoration: none;
  color: #FFF633; 
  font-family: 'Helvetica';
  cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}

.text{
  font-weight: lighter;
  cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}

body {
  background-color: #e2a1ad; 
  margin: auto;
  cursor: url(https://64.media.tumblr.com/6448d6a71c9489a9590019f7b8b77b7b/ef5087adc8713fac-33/s75x75_c1/57686f44a160737317be31fa5c60c2fed9ad5863.png), auto;
}

p {
  margin-left: 20%;
  color: white;
  text-align: left;
}

.topline{
  color: #FFF633;
}

.c1{
  color: #F7ECFF;
  background: #B0C1D8;
  

}
.c2{
  background-color: #8EB3A5;
}

.ye {
  color: #F1B4B4;
  background-color: #BA5555;

}

.or {
  background-color: #dbc4e1;
  color: #f5ec65;
  text-decoration: none;
}



.aboutimg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 50%;
  width: 18%;
  

}

.button {
  display: inline-block;
	background-color:#ff52f9;
	border-radius:42px;
	border:2px solid #9895c4;
	cursor:pointer;
	color:#ffe852;
	font-family:Arial;
	font-size:14px;
	padding:4px 13px;
	text-decoration:none;
  margin-left:10px;
  margin-right:10px;
  margin-top: 6px;
}
.button:hover {
	background-color:#ebc881;
  border:2px solid #58d178;
  color: #3f55e3;
  cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}
.button:active {
	position:relative;
	top:1px;
}
