
#logo {
 height: 180px; width: 480px; overflow: hidden; 
 background-image: url("https://66.media.tumblr.com/d4c7aa41eb1f7360afd46648462a66b2/2bcb25f3817954c0-d8/s500x750/59b37492c300ea4fc7cf015f7f74bffaa7f67e3a.gifv");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 480px, 100%;
 margin-left: auto;
 margin-right: auto;
}

.header {
  padding: .5px;
  text-align: left;
  background: #779282;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding-left: 14px;
}
.header a{
  text-decoration: none;
  color: #f3f0e4; 
  font-family: 'Helvetica', 'Arial';
}

.text{
  font-weight: lighter;

}

body {
  background-color:#F4F0E4; 
  text-align:center;
  margin: auto;
  
}

nav ul, footer ul {
    font-family: 'Bookman';
    list-style: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}
nav ul li, footer ul li {
    margin: 20px;
     
}
li a{
  display: block;
  background: #779282;
  padding: 9px;
  text-decoration: none;
  color: #FCC1D6;
}

li a:hover {
    background: #DE9988;
}
li a:hover {
  color: #E3C374;
}

.photo-gallery, .photo-gallery li {
	list-style: none;
	padding: 0;
	
}

.photo-gallery li {
	display: inline-block;
	width: 25%;
}

.photo-gallery li img {
	width: 100%;
}



.folder {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 140px;
}
.folder img {
    width: 80px;
    height: auto;
}
.ftitle {
    display: block;
}
