html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Helvetica';
  background-color:#F4F0E4; 
  width: 100%;
  height: 100%;
  margin: auto;
  text-align:center;
  overflow: scroll;
  cursor: url(https://64.media.tumblr.com/6448d6a71c9489a9590019f7b8b77b7b/ef5087adc8713fac-33/s75x75_c1/57686f44a160737317be31fa5c60c2fed9ad5863.png), auto;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.topblock{
  
  height: auto;
  left: 0;
  right: 0;
  padding: 20px;
  margin: auto;
  text-align: center;

}

.topblock h1 {
  color: #779282;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
}

#logo_green{
    display: block;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100vw;
}

.mainmenu{
  text-align: left;
  color: #779282;
  margin-left: 40px;
  margin-right: 40px;
}



.mmtitle h2{
  border-bottom: 3px solid #779282;
  letter-spacing: 1.75px;
  font-size: 25px;
}

nav{
  margin-top: -15px;
}
nav ul {
    font-family: 'Helvetica';
    list-style: none;
    letter-spacing: 1.75px;
    font-weight: bold;
    padding-inline-start: 14px;
    line-height: 1.6;
    font-size: 17px;
    
}

li a{
  display: inline-block;
  padding: 9px;
  text-decoration: none;
  color:#779282;
  /*color: #FCC1D6;*/
}

li a:hover {
    background: #DE9988;
    cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}

li a:hover {
  color: #E3C374;
}

.miscimg {
    position: fixed;
    bottom: 0;
    margin: 8px;
    
}

.miscimg img {
    width: 60px;
    cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}




/* nav bars for sub pages*/

.header {
  padding: .5px;
  text-align: left;
  background: #779282;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding-left: 14px;
  cursor: url(https://64.media.tumblr.com/6448d6a71c9489a9590019f7b8b77b7b/ef5087adc8713fac-33/s75x75_c1/57686f44a160737317be31fa5c60c2fed9ad5863.png), auto;
 
}

.header a{
  text-decoration: none;
  color: #f3f0e4; 
  font-family: 'Helvetica', 'Arial';
  cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
   font-weight: lighter;
}

.header a:hover{
  color: #FCC1D6;
}

.subheader{
    text-align: left;
    margin: 10px;
    font-family: 'Helvetica', 'Arial';
    font-size: 12px;
    
}
.subheader a {
    text-align: left;
    margin: 15px;
    padding: .3px;
    text-decoration: none;
    color: #C86161; 
    font-weight: lighter;
}

.subheader a:hover {
    color: #C393DA;
}






/*photo-gallery but idk bro*/

.sqphotogrid, .sqphotogrid li {
  text-align: center;
	list-style: none;
	padding: 0;
	
}

.sqphotogrid li {
	display: inline-block;
	width: 25%;
}

.sqphotogrid li img {
	width: 100%;
}



/*page for art gen output pages*/
.artpage{
  text-align: center;
  word-wrap: break-word;
}

.artpage h3{
  font-size: 30px;
  font-weight: lighter;
  font-style: oblique;
}

.artpage p{
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

.artpage img{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;

}


.genpagephoto{
  margin-left:25px;
  margin-right:25px;
  display: flex;
  flex-direction: column;
}

.genpagephoto img{
  max-width: 65%;
  height: auto;
}





/*photo grid thats aligned at center across a row */
.centergrid{
  margin-left:25px;
  margin-right:25px;
  margin-top: 20px;
 
}

.centergrid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  grid-gap: 20px;
  /*margin:auto;*/

  }
  
.centergrid img {
  max-width: 100%;
  height: auto;
 

}

.individualimg img{
  opacity: 1;
  display: block;
  filter: grayscale(0%);
  transition: .3s ease;
}


.individualimg:hover img{
  opacity: 0.5;
  /*filter: grayscale(100%);*/
  /*transform: scale(.85);*/
}


/*project page*/

.folder {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 140px;
    
}
.folder img {
    width: 100px;
    height: 100px;
    cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}

.ftitle {
    display: block;
    max-width: 100px;
    word-wrap: break-word;
}

/*project generated page output stuff*/

.projpage {
  font-family: 'Helvetica';
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-align: left;
}

.projpage h3{
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: -10px;
}

.projdesc {
    font-size: 15px;
}


.projimg img {
  width: 45vw;
  padding: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  
  
}
.projbodytxt {
    font-size: 18px;
	display: block;
	
	
}

.video {
  display:block;
  margin: auto;
  
}

.blogpage {
  font-family: 'Open Sans', 'Helvetica Neue';
  background-color: #2A2A2A;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-align: left;
  padding: 16px;
  word-wrap: break-word;
}

#blogdate{
  left:0;
  top:0;
  color:#b09a6b;
  font-size: 14px;
}

.blogpage h2{
  
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: .05em;
  color: white;
  
}

.blogpage p{
  display:block;
  font-size: 16px;
  font-weight: 400;
  color: white;
  
}
.blogpage small{
  color: white;
  padding: 0px;
}

.blogpage img{
  width: 45vw;
  height: auto;
  margin-top: 10px;
}

.bloghighlight{
  background: #b09a6b;
}

