html, body {
  font-family: 'Arial';
  background-color:#F4F0E4; 
  width: 100%;
  height: 100%;
  text-align:center;
  margin: auto;
  overflow: hidden; 
  cursor: url(https://64.media.tumblr.com/6448d6a71c9489a9590019f7b8b77b7b/ef5087adc8713fac-33/s75x75_c1/57686f44a160737317be31fa5c60c2fed9ad5863.png), auto;
}

/*
#logo {
 height: 14vh; 
 overflow: hidden; 
 background-image: url("https://66.media.tumblr.com/d4c7aa41eb1f7360afd46648462a66b2/2bcb25f3817954c0-d8/s500x750/59b37492c300ea4fc7cf015f7f74bffaa7f67e3a.gifv");
 background-repeat: no-repeat;
 background-position: center;
}

#logoalt {
    margin-right: 26px;
    text-align: right;
    font-size: 45px;
    color:#779282;
    margin-top: 15px;
    font-style: italic;
    
}
*/

#logoaltsub {
  text-align: left;
  margin: auto;
}

#logoalt2{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    /*background: #FCC1D6;*/
    padding: 20px;
    
}


#logo_green {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100vw;
    height: 100%;
    
    
}

#logo_white {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100vw;
    transform: translate(3px, 4px);
    
}

.la1 {
    margin-left: 20px;
    margin-top: -20px;
    text-align: left;
    font-size: 30px;
    color: black;
    
}



.header {
  padding: .5px;
  text-align: left;
  background: #779282;
  font-size: 12px;
  letter-spacing: 1.5px;
  padding-left: 14px;
  cursor: url(https://64.media.tumblr.com/6448d6a71c9489a9590019f7b8b77b7b/ef5087adc8713fac-33/s75x75_c1/57686f44a160737317be31fa5c60c2fed9ad5863.png), auto;
}
.header a{
  text-decoration: none;
  color: #f3f0e4; 
  font-family: 'Helvetica', 'Arial';
  cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}

.text{
  font-weight: lighter;

}

#mainmenu {
  

}

nav ul {
    font-family: 'Arial';
    list-style: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    width: 40%;
    padding-inline-start: 0px;
    
}
nav ul li {
    margin: 20px;
     
}
li a{
  display: block;
  background: #779282;
  padding: 9px;
  text-decoration: none;
  color: #FCC1D6;
}

li a:hover {
    background: #DE9988;
    cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}
li a:hover {
  color: #E3C374;
}


.miscimg {
    position: fixed;
    bottom: 0;
    margin: 5px;
    
}

.miscimg img {
    width: 10vw;
    cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}

.photo-gallery, .photo-gallery li {
	list-style: none;
	padding: 0;
	
}

.photo-gallery li {
	display: inline-block;
	width: 25%;
}

.photo-gallery li img {
	width: 100%;
}



.folder {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 140px;
    
}
.folder img {
    width: 80px;
    height: 80px;
    cursor: url(https://64.media.tumblr.com/6722b3c4ffb2b906406df8999aad50af/ef5087adc8713fac-a7/s75x75_c1/64c0d92f3bb3c8d312eafadb32987900b688ad19.png), auto;
}

.ftitle {
    display: block;
}

.illpage {
  font-family: 'Arial';
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-align: left;
}

.illpage h3{
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: -10px;
}

.desc {
    font-size: 15px;
}


.illimg img {
  width: 45vw;
  padding: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  
  
}
.illdesc {
    font-size: 18px;
	display: block;
	
	
}
