
#logo {
 height: 180px; width: 480px; overflow: hidden; 
 background-image: url("https://66.media.tumblr.com/d4c7aa41eb1f7360afd46648462a66b2/2bcb25f3817954c0-d8/s500x750/59b37492c300ea4fc7cf015f7f74bffaa7f67e3a.gifv");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 480px, 100%;
}

.header {
  padding: .5px;
  text-align: left;
  background: #779282;
  letter-spacing: 1.5px;
  padding-left: 14px;
  
}
.header a{
  font-size: 12px;
  text-decoration: none;
  color: #f3f0e4; 
  font-family: 'Helvetica', 'Arial';
}

.text{
  font-weight: lighter;
}

body {
  background-color:#F4F0E4; 
  text-align:center;
  margin: auto;
  
}

nav ul, footer ul {
    width: 60%;
    font-family: 'Bookman';
    list-style: none;
    letter-spacing: 1.5px;
    font-weight: bold;
 
    
}
nav ul li, footer ul li {
    margin: 20px;
     
}
li a{
  display: block;
  background: #779282;
  padding: 9px;
  text-decoration: none;
  color: #FCC1D6;
}

li a:hover {
    background: #DE9988;
}
a:hover {
  color: #E3C374;
}

h1 {
    font-size: 12px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
