---
layout: default
title: soupypan's photos
---

<div class="header"><h1><a href="/" >  ← soupypan/photography</a></h1></div>

<p>
under construction ･ᴗ･
</p>


<ul class="photo-gallery">
	{% for image in page.images %}
		<li>
			<img src="{{ image.image_path}}" alt="{{image.title}}">
		</li>
	{% endfor %}
  
</ul>

<div class="centergrid">
	
{% for photo in site.photographs %}
	<div class="individualimg">
	<a href="{{ photo.url }}"> <img src="{{ photo.post_cover }}" alt="photosupposedtobeheresmh" /></a>  
	</div>
	
{% endfor %}

</div>
