---
layout: default
title: illustration
images:
- image_path: /assets/illustration/610sketch.png
title: june 10 sketch
- image_path: /assets/illustration/nerdyshit.gif
title: i mc lovin it
- image_path: /assets/illustration/611sketch.png
title: june 11 sketch
- image_path: /assets/illustration/612sketch.png
title: june 12 sketch
---

<div class="header">

<h1><a href="/" >  ← <span class = "text" >
  soupypan/illustration 
</span> </a></h1>


</div>



<ul class="photo-gallery">
	<% for image in page.assets.illustration %>
		<li>
			<img src="{{ image.image_path}}" alt="{{image.title}}">
		</li>
	<% endfor%>
  
	
</ul>
